:root {
    font-size: 62.5%;
    font-family: 'Poppins';

    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }
}

h1 {
    font-size: 5.0rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

h2 {
    font-size: 4.0rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

h3 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

h4 {
    font-size: 3.0rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

h5 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

h6 {
    font-size: 2.0rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

p {
    font-size: 1.5rem;
    font-family: 'Poppins';
}

a {
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.btn-primary {
    font-family: 'Poppins';
    background-color: rgb(102, 188, 239);
    border: none;
}
.btn-secondary {
    font-family: 'Poppins';
    border: none;
}
.btn-danger {
    font-family: 'Poppins';
    border: none;
}
.btn-dark {
    font-family: 'Poppins';
    border: none;
}

.modal {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}
.modal .modal-content{
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

