
/* DEFAULTS */

.container-xl h1 {
    font-family: 'Poppins';
    font-size: 5.0rem;
    line-height: 1.5;
}

.container-xl h2 {
    font-family: 'Poppins';
    font-size: 4.0rem;
    line-height: 1.5;
}

.container-xl h3 {
    font-family: 'Poppins';
    font-size: 3.75rem;
    line-height: 1.5;
}

.container-xl h4 {
    font-family: 'Poppins';
    font-size: 3.25rem;
    line-height: 1.5;
}

.container-xl h5 {
    font-family: 'Poppins';
    font-size: 3.0rem;
    line-height: 1.5;
}

.container-xl h6 {
    font-family: 'Poppins';
    font-size: 2.5rem;
    line-height: 1.5;
}

.container-xl p {
    font-family: 'Poppins';
    font-size: 2.0rem;
    line-height: 1.5;
}

.container-xl a {
    font-family: 'Poppins';
    font-size: 2.0rem;
}

.btn-primary {
    font-family: 'Poppins';
    background-color: rgb(102, 188, 239);
    border: none;
}
.btn-danger {
    font-family: 'Poppins';
    border: none;
}
.btn-success {
    font-family: 'Poppins';
    border: none;
}
.btn-secondary {
    font-family: 'Poppins';
    border: none;
}

/* USERS */

.container-xl .users-card-title {
    font-size: 8.0rem;
    line-height: 1.2;
    font-weight: 700;
}

.container-xl .users-card-text {
    font-size: 1.75rem;
    color: var(--site-color-text-main);
}

.container-xl .users-card-body {
    background: radial-gradient(circle at 0.7% 1%, rgb(215, 248, 247) 0%, rgb(102, 188, 239) 100.2%);
}

/* CATEGORIES */

.categories-card-title {
    font-size: 8.0rem;
    font-weight: 700;
}

.categories-card-text {
    font-size: 1.5rem;
}

.categories-card-body {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.categories-card-link{
    color: gray;
}
.categories-card-link:hover{
    color: black;
    font-weight: 500;
}

.jl-card-edit-btn{
    color: black;
    font-size: 3rem;
}
.jl-card-edit-btn:hover{
    opacity: 0.7;
}
.jl-card-x-btn{
    color: black;
    font-size: 3rem;
}
.jl-card-x-btn:hover{
    color: red;
    opacity: 0.7;
}

.eye-add-pass, .eye-update-pass{
    position: relative;
}

#eye-logo1 {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 10px;
    font-size: 2.0rem;
}

#eye-logo2 {
    position: absolute;
    cursor: pointer;
    top: 90px;
    right: 10px;
    font-size: 2.0rem;
}
#eye-logo3 {
    position: absolute;
    cursor: pointer;
    top: 33px;
    right: 10px;
    font-size: 2.0rem;
}

#eye-logo4 {
    position: absolute;
    cursor: pointer;
    top: 73px;
    right: 10px;
    font-size: 2.0rem;
}

/* ADMIN PROFILE */
.adminprofilepasswords{
    position: relative;
}
.adminprofilepasswords #eye-logo1{
    position: absolute;
    top: 85px;
    right: 15px;
    cursor: pointer;
    font-size: 2.5rem;
}
.adminprofilepasswords #eye-logo2{
    position: absolute;
    top: 155px;
    right: 15px;
    cursor: pointer;
    font-size: 2.5rem;
}


/* SEMINAR */
.admin-content .seminar-collapse{
    position: relative;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.admin-content .seminar-collapse p:nth-child(2){
    bottom: 0;
    right: 10px;
    position: absolute;
    color: grey;
    font-size: 1.5rem;
}
.admin-content .seminar-collapse p:nth-child(3){
    color: grey;
    font-size: 1.5rem;
}

/* NOTIFICATION */
.admin-content-notif{
    padding: 0 20px;
    max-height: 77vh;
    min-height: 77vh;
    overflow-y: scroll;
}

.admin-content-notif .notif-remove-design{
    color: black;
}
.admin-content-notif .notif-banner{
    border: 1px solid gray;
    padding: 5px 10px 20px 10px;
    position: relative;
    transition: ease-in-out 0.3s;
}
.admin-content-notif .notif-banner:hover{
    background-color: rgb(243, 253, 253);
}

.notif-banner p:nth-child(2){
    font-size: 1.5rem;
}

.notif-banner .notif-date{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 1.3rem;
    color: gray;
}

.notif-banner .san1-notif-settings{
    position: absolute;
    top: 0;
    right: 0;
}


/* PAGINATION CSS */

.pagination {
    font-size: 1rem;
    font-weight: 500;
    /* Adjust this value to make the text larger */
}

.pagination .page-item .page-link {
    padding: 10px 20px;
    font-size: 1.5rem;
    /* Adjust padding to make the buttons larger */
    margin: 10px 2px;
    /* Adjust margin between buttons */
}

.pagination .page-item.active .page-link {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: rgb(102, 188, 239);
    /* Active page background color */
    border-color: #e9ecef;
    /* Active page border color */
    color: white;
}

.pagination .page-link {
    color: black;
    /* Default link color */
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    /* Hover background color */
}
